<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css' rel='stylesheet'>
    <link href='https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css' rel='stylesheet'>
    <script type='text/javascript' src=''></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../styles/styleCard.css">
    <title>Document</title>
</head>

<body id="body-pd">
    <header class="header" id="header">
        <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i> </div>
        <div class="header_img"> </div>
    </header>
    <div class="l-navbar" id="nav-bar">
        <nav class="nav">
            <div> <a href="#" class="nav_logo"> <i><img src="../assets/banco_logo.png" class="logo_nav" alt=""></i>
                    <span class="nav_logo-name"></span> </a>
                <div class="nav_list"> <a href="./accounts.html" class="nav_link"> <i class='bx bx-user bx-md'
                            style='color:#4e4d8f'></i> <span class="nav_name">Accounts Stats</span> </a>
                    <a href="./cards.html" class="nav_link"><i class='bx bx-credit-card bx-md'
                            style='color:#4e4d8f'></i><span class="nav_name">Credit / Debit Cards</span> </a>
                    <a href="./loan-application.html" class="nav_link"><i class='bx bx-money-withdraw bx-md'
                            style='color:#4e4d8f'></i> <span class="nav_name">Loans</span> </a>
                </div>
                <a href="./tranfers.html" class="nav_link"> <i class='bx bx-transfer-alt bx-md'
                        style='color:#4e4d8f'></i> <span class="nav_name">Transactions</span> </a>
            </div>

        </nav>
    </div>
    <!--Container Main start-->


    <div id="app">

        <div class="d-flex flex-column w-100">

            <div class="d-flex flex-column w-100">
                <div class="d-flex align-items-start p-4">
                    <h3>Credit Cards: </h3>
    
                    <div class="card m-2" v-for="card in creditCards">
                        <div class="card__front card__part":class="{'gold_card' : card.cardColor == 'GOLD', 'silver_card' : card.cardColor == 'SILVER', 'platinum_card' : card.cardColor == 'TITANIUM'}">
                            <img class="card__front-square card__square logo_tarjeta" src="../assets/banco_logo.png">
                            <div class="card__front-logo card__logo logo_tarjeta logo-visa"></div>
                            <p class="card_numer">{{numTarjeta(card.number)}}</p>
                            <div class="card__space-75">
                                <span class="card__label">Card holder: </span>
                                <p class="card__info">{{card.cardholder}}</p>
                            </div>
                            <div class="card__space-25">
                                <span class="card__label">Expires</span>
                                <p class="card__info">{{thruDateTarjeta(card.thruDate)}}</p>
                            </div>
                        </div>
    
                        <div class="card__back card__part":class="{'gold_card' : card.cardColor == 'GOLD', 'silver_card' : card.cardColor == 'SILVER', 'platinum_card' : card.cardColor == 'TITANIUM'}">
                            <div class="card__black-line"></div>
                            <div class="card__back-content">
                            <div class="card__secret">
                                <p class="card__secret--last">{{card.cvv}}</p>
                            </div>
                            <img class="card__back-square card__square logo_tarjeta" src="https://image.ibb.co/cZeFjx/little_square.png">
                            <img class="card__back-logo card__logo logo_tarjeta"
                                src="https://www.fireeye.com/partners/strategic-technology-partners/visa-fireeye-cyber-watch-program/_jcr_content/content-par/grid_20_80_full/grid-20-left/image.img.png/1505254557388.png">
    
                            </div>
                        </div>
    
                    </div>
                </div>
    
                <div class="d-flex align-items-end p-4">
                    <h3>Debit Cards: </h3>
    
                    <div class="card p-4 m-2" v-for="card in debitCards">
                        <div class="card__front card__part":class="{'gold_card' : card.cardColor == 'GOLD', 'silver_card' : card.cardColor == 'SILVER', 'platinum_card' : card.cardColor == 'TITANIUM'}">
                            <img class="card__front-square card__square" src="../assets/banco_logo.png">
                            <div class="card__front-logo card__logo logo_tarjeta logo-mastercard"></div>
                            <p class="card_numer">{{numTarjeta(card.number)}}</p>
                            <div class="card__space-75">
                                <span class="card__label">Card holder: </span>
                                <p class="card__info">{{card.cardholder}}</p>
                            </div>
                            <div class="card__space-25">
                                <span class="card__label">Expires</span>
                                <p class="card__info">{{thruDateTarjeta(card.thruDate)}}</p>
                            </div>
                        </div>
    
                        <div class="card__back card__part":class="{'gold_card' : card.cardColor == 'GOLD', 'silver_card' : card.cardColor == 'SILVER', 'platinum_card' : card.cardColor == 'TITANIUM'}">
                            <div class="card__black-line"></div>
                            <div class="card__back-content">
                                <div class="card__secret">
                                    <p class="card__secret--last">{{card.cvv}}</p>
                                </div>
                                <img class="card__back-square card__square" src="https://image.ibb.co/cZeFjx/little_square.png">
                                <img class="card__back-logo card__logo" src="https://www.fireeye.com/partners/strategic-technology-partners/visa-fireeye-cyber-watch-program/_jcr_content/content-par/grid_20_80_full/grid-20-left/image.img.png/1505254557388.png">
    
                            </div>
                        </div>
    
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src=" https://unpkg.com/vue@3"></script>
    <script src="./cards.js"></script>

</body>

</html>