<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css' rel='stylesheet'>
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <script type='text/javascript' src=''></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/styleCard.css">
    <title>Document</title>
</head>

<body id="body-pd" class="w-100 h-100 d-flex">


    <header class="header" id="header">
        <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i> </div>
        <div class="header_img"> <img src="../assets/melba.png" alt=""> </div>
    </header>


    <div class="area"></div>
    <nav class="main-menu">
        <ul>
            <li>
                <a href="http://justinfarrow.com">
                    <i class="fa fa-home fa-2x"></i>
                    <span class="nav-text">
                        Dashboard
                    </span>
                </a>

            </li>
            <li class="has-subnav">
                <a href="#">
                    <i class="fa fa-laptop fa-2x"></i>
                    <span class="nav-text">
                        Stars Components
                    </span>
                </a>

            </li>
            <li class="has-subnav">
                <a href="#">
                    <i class="fa fa-list fa-2x"></i>
                    <span class="nav-text">
                        Forms
                    </span>
                </a>

            </li>
            <li class="has-subnav">
                <a href="#">
                    <i class="fa fa-folder-open fa-2x"></i>
                    <span class="nav-text">
                        Pages
                    </span>
                </a>

            </li>
            <li>
                <a href="#">
                    <i class="fa fa-bar-chart-o fa-2x"></i>
                    <span class="nav-text">
                        Graphs and Statistics
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-font fa-2x"></i>
                    <span class="nav-text">
                        Quotes
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-table fa-2x"></i>
                    <span class="nav-text">
                        Tables
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-map-marker fa-2x"></i>
                    <span class="nav-text">
                        Maps
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-info fa-2x"></i>
                    <span class="nav-text">
                        Documentation
                    </span>
                </a>
            </li>
        </ul>

        <ul class="logout">
            <li>
                <a href="#">
                    <i class="fa fa-power-off fa-2x"></i>
                    <span class="nav-text">
                        Logout
                    </span>
                </a>
            </li>
        </ul>
    </nav>


    <!--Container Main start-->


    <div id="app" class="w-100 h-100 d-flex justify-content-center align-items-center">


        <div class="form m-4 w-50 h-50 d-flex justify-content-center">

            <form @submit="createCard" class="d-flex flex-column align-items-center">

                <!-- <div class="swappy-radios" role="radiogroup" aria-labelledby="swappy-radios-label">
                    <div>
                        <h3 id="swappy-radios-label">Select a Card Type</h3>
                        <label>
                            <input type="radio" name="options" checked />
                            <span class="radio"></span>
                            <span>Debit</span>
                        </label>
                        <label>
                            <input type="radio" name="options" />
                            <span class="radio"></span>
                            <span>Credit</span>
                        </label>
                        <label>
                            <input type="radio" name="options" />
                            <span class="radio"></span>
                            <span>Third option</span>
                        </label>
                    </div>
                    <div>
                        <h3 id="swappy-radios-label">Select a Card Color</h3>
                        <label>
                            <input type="radio" name="options" />
                            <span class="radio"></span>
                            <span>Silver</span>
                        </label>
                        <label>
                            <input type="radio" name="options" />
                            <span class="radio"></span>
                            <span>Gold</span>
                        </label>
                        <label>
                            <input type="radio" name="options" />
                            <span class="radio"></span>
                            <span>Titanium</span>
                        </label>
                    </div>
                </div> -->


                <select name="" id="cardTypeSelect" class="m-4" v-model="cardType">
                    <option value="default"> - </option>
                    <option value="CREDIT"> Credit </option>
                    <option value="DEBIT"> Debit </option>
                </select>

                <select name="Card Color" id="" class="m-4" v-model="cardColor">
                    <option value="default"> - </option>
                    <option value="SILVER"> Silver </option>
                    <option value="GOLD"> Gold </option>
                    <option value="TITANIUM"> Titanium </option>
                </select>

                <div class="mb-3 px-2 py-1">
                    <label for="cardHolder" class="form-label">Cardholder:</label>
                    <input type="text" class="form-control" v-model="cardHolder" id="cardHolder">
                </div>

                <button type="submit" class="btn btn-warning submit-form">Create Card</button>

            </form>

            <!-- <div class="card m-2">
                <div class="card__front card__part":class="{'gold_card' : card.cardColor == 'GOLD', 'silver_card' : card.cardColor == 'SILVER', 'platinum_card' : card.cardColor == 'TITANIUM'}">
                    <img class="card__front-square card__square logo_tarjeta" src="../assets/banco_logo.png">
                    <img class="card__front-logo card__logo logo_tarjeta" src="../assets/visa-logo-24.png">
                    <p class="card_numer">{{numTarjeta(card.number)}}</p>
                    <div class="card__space-75">
                        <span class="card__label">Card holder: </span>
                        <p class="card__info">{{cardHolder}}</p>
                    </div>
                    <div class="card__space-25">
                        <span class="card__label">Expires</span>
                        <p class="card__info">{{thruDateTarjeta(card.thruDate)}}</p>
                    </div>
                </div>

                <div class="card__back card__part":class="{'gold_card' : {{cardColor}} == 'GOLD', 'silver_card' : {{cardColor}} == 'SILVER', 'platinum_card' : {{cardColor}} == 'TITANIUM'}">
                    <div class="card__black-line"></div>
                    <div class="card__back-content">
                    <div class="card__secret">
                        <p class="card__secret--last">{{card.cvv}}</p>
                    </div>
                    <img class="card__back-square card__square logo_tarjeta" src="https://image.ibb.co/cZeFjx/little_square.png">
                    <img class="card__back-logo card__logo logo_tarjeta"
                        src="https://www.fireeye.com/partners/strategic-technology-partners/visa-fireeye-cyber-watch-program/_jcr_content/content-par/grid_20_80_full/grid-20-left/image.img.png/1505254557388.png">

                    </div>
                </div>

            </div> -->

        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src=" https://unpkg.com/vue@3"></script>

    <script src="./create-cards.js"></script>

</body>

</html>